.app-feature {
    list-style-type: none;
    border: 2px solid darkgray;
    color: white;
    width: 80%;
    padding: 20px;
    margin: 25px auto;
    font-weight: 700;
    font-size: 20px;
    background-color: olive;
}