.trip-item {
    list-style-type: none;
    padding: 30px;
    margin: 10px auto;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.trip-item li {
    margin-bottom: 6px;
}

.trip-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: lightblue;
    height: 100px;
}

.trip-item h2 {
    text-align: center;
    padding-left: 15px;
}

.delete-trip {
    background-color: white;
    border: 0;
    color: black;
    font-size: 16px;
    height: 50px;
    position: relative;
    right: 0;
    transform: rotate(-90deg);
    width: 80px;
}

.trashcan {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    margin-right: 10px;
}

.trip-elements {
    list-style-type: none;
    line-height: 1.8;
    overflow-wrap: break-word;
    padding-left: 20px;
}

.sense-type {
    border: 1px solid black;
    padding: 5px;
    background-color: lightblue;
}

.trip-element,
.trip-resource {
    display: block;
}

.trip-resource:focus,
.trip-resource:hover,
.trip-resource:visited {
    color: black;
}

.modify-trip {
    background-color: lightblue;
}

.separation-div {
    height: 5px;
    margin-top: 55px;
    background-color: lightblue;
}