.trip-item {
    list-style-type: none;
    padding: 30px;
    margin: 30px auto;
    color: black;
    /* background-color: aquamarine; */
    font-size: 18px;
    font-weight: 700;
}

.trip-item li {
    margin-bottom: 6px;
}

.trip-item h2 {
    text-align: center;
}

.trip-elements {
    list-style-type: none;
    line-height: 1.8;
    overflow-wrap: break-word;
}

.sense-type {
    border: 1px solid black;
    padding: 5px;
    background-color: lightblue;
}

.trip-element,
.trip-resource {
    display: block;
}

.separation-div {
    height: 5px;
    padding-top: 5px;
    background-color: lightblue;
}