.add-trip-header {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    background-color: lightblue;
    width: 95%;
    margin: 0px auto;
}

.add-trip-p {
    padding: 0px 30px 10px 30px;
    font-size: 20px;
}

h3 {
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
}

