.add-trip-header {
    text-align: center;
    padding: 5px;
    width: 95%;
    margin: 0px auto;
    font-size: 50px;
}

.add-trip-p {
    padding: 0px 30px 10px 30px;
    font-size: 20px;
}

h3 {
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
}

