.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    background:  #09489D;
    height: 56px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.toolbar_navigation {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.toolbar_navigation-items {
    width: 100%;
}

.toolbar_navigation-items ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.toolbar_navigation-items li {
    padding: 0 20px;
    list-style-type: none;
    font-weight: 700;
}

.toolbar_navigation-items a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: yellow;
}

@media (max-width: 767px) {
    .toolbar_navigation-items {
        display: none;
    }
    .logo-transparent-bckgrnd {
        margin-left: 60px;
    }
}

@media (min-width: 768px) {
    .toolbar_toggle-button {
        display: none;
    }
}