.trips-list-container {
    position: relative;
    top: -54px;
    height: 100%;
}

.trip-list-header {
    text-align: center;
    padding: 5px;
    width: 95%;
    margin: 50px auto;
    font-size: 50px;
}

.backyard-movie {
    width: 100%;
    position: relative;
    bottom: -30px;
}
