.trips-list-heading {
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
    padding: 30px;
}

.trips-list-container {
    position: relative;
    top: -54px;
    height: 100%;
}

.map-with-pins {
    width: 100%;
    position: relative;
}

.backyard-movie {
    width: 100%;
    position: relative;
    bottom: -30px;
}
